@use './../../scss/' as *;
.cart{
    margin-top:3rem;
    &_contain{
        width: 50%;
        margin:auto;
        &__head{
            @include flex(center,space-between);
            h2{
                font-size: 2rem;
            }
            margin-bottom: 2rem;    
            a{
                padding: 3px 4px;
                border:none;
                outline:none;
                background-color: $red;
                color:$white;
                border-radius: 4px;
                cursor: pointer;
            }
        }
        &__body{
            .cartItem{
                margin-bottom: 0.8rem;
                @include flex(unset,space-between);
                padding: 0 20px;
                .cartImg{
                    width: 30%;
                }
                .cartInfo{
                    p{
                        font-weight: 700;
                        font-size:1.2rem;
                    }
                    span{
                        color:$red;
                        font-weight: 600;
                        margin-top:1rem;
                    }
                }
                .cartAction{
                    .Action{
                        @include flex(center,space-between);
                        span{
                            width:30px;
                            height: 30px;
                            @include flex(center,center);
                            background:$white;
                            border:1px solid rgb(221, 218, 218);
                            margin-bottom: 0.5rem;
                            cursor: pointer;
                        }
                        
                    }
                    p{
                        color:$red;
                        cursor: pointer;
                    }
                }
            }
        }
        &__footer{
            padding-top:0.5rem;
            border-top:0.5px solid rgb(218, 216, 216);
            .flex{
                @include flex(center,space-between);
                span:first-child{
                    font-weight: 600;
                }
                .total{
                    color:$red;
                    font-weight: 600;
                }
            }
            .order{
                text-align: center;
                .btn-sell{
                    padding: 13px 35px;
                    border:none;
                    outline:none;
                    background-color: $red;
                    color:$white;
                    border-radius: 5px;
                }
            }
        }
    }
}