@use './../../../scss/' as *;

.rateStar{
    margin-top:20px;
}
.rate{
    @include mobile{
        width: 100%;
    }
    width: 70%;
    border: 1px solid rgb(220, 220, 220);
    .rate-info{
        margin-top: 2rem;
        
        padding: 20px 10px;
        @include flex(center,space-around);
        @include mobile{
            gap:4px;
        }
        &__left{
            h2{
                font-weight: 400;
                text-transform: uppercase;
            }
            .flex{
                font-size:1.4rem;
                @include flex(center,center);
                color:rgb(236, 197, 1);
                
                svg{
                    color:rgb(236, 197, 1);
                }
            }
        }
        max-width: 700px;
        &__center{
            @include mobile{
                max-width: 150px;
            }
            max-width: 320px;
            @include flex(unset,flex-start);
            flex-direction: column;
            &__item{
                @include flex(center,flex-start);
                gap: 10px;
                .item-star{
                    @include flex(center,unset);
                    svg{
                        color:rgb(236, 197, 1);
                    }

                }
                .processes{
                    background-color: #d8d8d8c4;
                    width: 250px;
                    height: 8px;
                    border-radius: 5px;
                    position: relative;
                    .process{
                        width: 250px;
                        height: 8px;
                        background-color: rgb(236, 197, 1);
                        border-radius: 3px;
                        position: absolute;
                    }
                }
                
            }
        }
        &__right{
            button{
                @include mobile{
                    padding: 3px 5px;
                    border-radius:3px;
                }
                padding: 13px 15px;
                background-color: rgb(236, 197, 1);
                border:none;
                outline:none;
                color:$white;
                border-radius: 20px;
            }
        }
        
    }
    .rating{
        text-align: center;
        padding-bottom: 20px;
        span{
            font-weight: 600;
        }
        .star-ratings{
            .star-container{
                svg{
                    width: 20px!important;
                    height: 20px!important;
                }
            }
            
        }
    }
    .review{
        padding-bottom: 20px;
        &__contain{
            @include flex(center,center);
            gap: 20px;
            textarea {
                width: 60%;
                min-height: 100px;
                border:0.5px solid rgb(211, 210, 210);
                padding: 10px;
            }
            button{
                background-color: rgb(236, 197, 1);
                color:$white;
                border-radius: 5px;
                padding: 10px 15px;
                outline:none;
                border:none;
            }
        }
    }
}
.commentList{
    width: 70%;
    margin-top:20px;
    &__item{
        padding: 15px 15px;
        border-bottom: 0.5px solid rgb(216, 216, 216);
        h5{
            font-size:1.1rem;
            margin-bottom: 10px;

        }
        .star-ratings{
            .star-container{
                svg{
                    width: 20px!important;
                    height: 20px!important;
                }
            }
        }
    }
}